{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Лента новостей - Connect{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'feed/css/feed.css' %}">
    <link rel="stylesheet" href="{% static 'person/css/person.css' %}">
    <link rel="stylesheet" href="{% static 'person/css/like_users_list.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/markdown.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/github-dark.min.css">
{% endblock %}

{% block content %}
<main class="custom-container">

<section class="container-profile">
<div class="tabs">
    <div id="tab-popular" class="tab active">Популярное</div>
    <div id="tab-subscriptions" class="tab">Подписки</div>
</div>

<div id="popularPosts">
{% if popular_posts %}
    <div class="posts-list">
    {% for post in popular_posts %}
        <div class="post-item" data-post-id="{{ post.id }}">
            <div class="post-header">
                <img src="{{ post.user.get_avatar_url }}" class="post-avatar" alt="{{ post.user.username }}">
                <div class="post-info">
                    <h3>
                        <a href="{% url 'user_profile' post.user.username %}">
                            {{ post.user.first_name }} {{ post.user.last_name }}
                        </a>
                    </h3>
                    <p class="post-username">@{{ post.user.username }}</p>
                </div>
                <p class="post-date">{{ post.date }}</p>
            </div>
            <div class="post-content">
                <div class="post-text" id="post-text-{{ post.id }}">{{ post.formated_text|safe }}</div>
                <div class="fade-out"></div>
                <a class="read-more-btn" id="read-more-btn-{{ post.id }}" style="display: none;">Читать далее</a>
            </div>
            {% if post.images.all %}
                <div class="post-image-container">
                    <div id="carouselPost{{ post.id }}" class="carousel slide" data-ride="carousel">
                        <!-- Индикаторы -->
                        <div class="carousel-indicators">
                            {% for image in post.images.all %}
                                <button type="button" data-bs-target="#carouselPost{{ post.id }}"
                                        data-bs-slide-to="{{ forloop.counter0 }}"
                                        {% if forloop.first %} class="active" aria-current="true" {% endif %}
                                        aria-label="Slide {{ forloop.counter }}"></button>
                            {% endfor %}
                        </div>

                        <!-- Карусель изображений -->
                        <div class="carousel-inner">
                            {% for image in post.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img class="d-block w-100" src="{{ image.image.url }}" alt="Прикреплённая картинка">
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Кнопки навигации -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPost{{ post.id }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselPost{{ post.id }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            {% endif %}

            <div class="post-footer">
                <ul>
                    <li>
                        <button class="post-footer-icon like-btn {% if request.user in post.likes.all %}liked{% endif %}" data-post-id="{{ post.id }}" title="Лайк">
                            {% if request.user in post.likes.all %}
                                <img src="{% static 'person/img/like_red.svg' %}" alt="Like Icon" width="28" height="28">
                            {% else %}
                                <img src="{% static 'person/img/like.svg' %}" alt="Like Icon" width="28" height="28">
                            {% endif %}
                        </button>
                        <span class="post-footer-counter">{{ post.total_likes }}</span>
                    </li>
                    <li>
                        <a class="post-footer-icon" href="{% url 'post_detail' post.id %}" title="Комментировать">
                            <img src="{% static 'person/img/comments.svg' %}" alt="Comment Icon" width="28" height="28">
                        </a>
                        <span class="post-footer-counter">{{ post.total_comments }}</span>
                    </li>
                    <li>
                        <button class="post-footer-icon" title="Поделиться" onclick="copyToClipboard({{ post.id }})">
                            <img src="{% static 'person/img/share.svg' %}" alt="Share Icon" width="28" height="28">
                        </button>
                    </li>
                </ul>
                <ul>
                    <li>
                        <img src="{% static 'person/img/views.svg' %}" alt="Иконка просмотра" width="28" height="28">
                        <span class="post-footer-counter">
                            {{ post.views }}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p class="commentary">Популярных постов нет.</p>
{% endif %}
</div>

<div id="subscriptionsPosts">
{% if subscriptions_posts %}
    <div class="posts-list">
    {% for post in subscriptions_posts %}
        <div class="post-item" data-post-id="{{ post.id }}">
            <div class="post-header">
                <img src="{{ post.user.get_avatar_url }}" class="post-avatar" alt="{{ post.user.username }}">
                <div class="post-info">
                    <h3>
                        <a href="{% url 'user_profile' post.user.username %}">
                            {{ post.user.first_name }} {{ post.user.last_name }}
                        </a>
                    </h3>
                    <p class="post-username">@{{ post.user.username }}</p>
                </div>
                <p class="post-date">{{ post.date }}</p>
            </div>
            <div class="post-content">
                <div class="post-text" id="post-text-{{ post.id }}">{{ post.formated_text|safe }}</div>
                <div class="fade-out"></div>
                <a class="read-more-btn" id="read-more-btn-{{ post.id }}" style="display: none;">Читать далее</a>
            </div>
            {% if post.images.all %}
                <div class="post-image-container">
                    <div id="carouselPost{{ post.id }}" class="carousel slide" data-ride="carousel">
                        <!-- Индикаторы -->
                        <div class="carousel-indicators">
                            {% for image in post.images.all %}
                                <button type="button" data-bs-target="#carouselPost{{ post.id }}"
                                        data-bs-slide-to="{{ forloop.counter0 }}"
                                        {% if forloop.first %} class="active" aria-current="true" {% endif %}
                                        aria-label="Slide {{ forloop.counter }}"></button>
                            {% endfor %}
                        </div>

                        <!-- Карусель изображений -->
                        <div class="carousel-inner">
                            {% for image in post.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img class="d-block w-100" src="{{ image.image.url }}" alt="Прикреплённая картинка">
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Кнопки навигации -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPost{{ post.id }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselPost{{ post.id }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            {% endif %}

            <div class="post-footer">
                <ul>
                    <li>
                        <button class="post-footer-icon like-btn {% if request.user in post.likes.all %}liked{% endif %}" data-post-id="{{ post.id }}" title="Лайк">
                            {% if request.user in post.likes.all %}
                                <img src="{% static 'person/img/like_red.svg' %}" alt="Like Icon" width="28" height="28">
                            {% else %}
                                <img src="{% static 'person/img/like.svg' %}" alt="Like Icon" width="28" height="28">
                            {% endif %}
                        </button>
                        <span class="post-footer-counter">{{ post.total_likes }}</span>
                    </li>
                    <li>
                        <a class="post-footer-icon" href="{% url 'post_detail' post.id %}" title="Комментировать">
                            <img src="{% static 'person/img/comments.svg' %}" alt="Comment Icon" width="28" height="28">
                        </a>
                        <span class="post-footer-counter">{{ post.total_comments }}</span>
                    </li>
                    <li>
                        <button class="post-footer-icon" title="Поделиться" onclick="copyToClipboard({{ post.id }})">
                            <img src="{% static 'person/img/share.svg' %}" alt="Share Icon" width="28" height="28">
                        </button>
                    </li>
                </ul>
                <ul>
                    <li>
                        <img src="{% static 'person/img/views.svg' %}" alt="Иконка просмотра" width="28" height="28">
                        <span class="post-footer-counter">
                            {{ post.views }}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p class="commentary">В вашей ленте пока нет постов. Подпишитесь на других пользователей, чтобы видеть их записи.</p>
{% endif %}
</section>

<!-- Модальное окно для списка лайкнувших пост -->
<div class="modal fade" id="likedUsersModal" tabindex="-1" aria-labelledby="likedUsersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-light">
            <div class="modal-header border-secondary">
                <h5 class="modal-title" id="likedUsersModalLabel">Пользователи, лайкнувшие пост</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="liked-users-list">
                    <!-- Здесь будет список пользователей -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Контекстное меню для кнопки лайка -->
<div class="custom-context-menu" id="likeContextMenu">
    <ul>
        <li id="showLikedUsers">Посмотреть список</li>
    </ul>
</div>

</main>
{% endblock %}

{% block script %}
    <script src="{% static 'feed/js/tabs.js' %}"></script>
    <script src="{% static 'person/js/hide_text.js' %}"></script>
    <script src="{% static 'person/js/like_post.js' %}"></script>
    <script src="{% static 'person/js/add_view_for_post.js' %}"></script>
    <script src="{% static 'person/js/like_context_menu.js' %}"></script>
    <script src="{% static 'person/js/copy_post_link.js' %}"></script>
    <script src="{% static 'main/js/copy_code.js' %}"></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}
