{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Connect - Социальная сеть с искусственным интеллектом{% endblock %}

{% block SEO_area %}
<meta name="description" content="Добро пожаловать в социальную сеть нового поколения, где искусственный интеллект становится вашим надежным союзником в создании контента и общении! Здесь вы можете легко и быстро создавать уникальные посты, делиться своими мыслями и идеями, а также общаться с друзьями и подписчиками, используя возможности ИИ.">
<meta name="keywords" content="Ai, Социальная сеть, Connect, ИИ, social app">
<meta name="language" content="ru">
<meta name="robots" content="index, follow">

<meta property="og:title" content="Connect">
<meta property="og:description" content="Добро пожаловать в социальную сеть нового поколения, где искусственный интеллект становится вашим надежным союзником в создании контента и общении! Здесь вы можете легко и быстро создавать уникальные посты, делиться своими мыслями и идеями, а также общаться с друзьями и подписчиками, используя возможности ИИ.">
<meta property="og:image" content="https://connect-ai.ru/static/main/img/ai_meta.png">
<meta property="og:url" content="https://connect-ai.ru/">
<meta property="og:type" content="website">
{% endblock %}

{% block content %}

<div class="row align-items-center">
    <div class="col-md-6 text-center">
        <h2>Ты говоришь - она понимает</h2>
        <div class="gif-container">
            <img src="{% static 'main/img/presentation.gif' %}" alt="Демонстрация работы ИИ">
        </div>
    </div>
    <div class="col-md-6">
        <div class="login-form">
            <h2>Вход</h2>
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <div class="form-group mt-3">
                    <label for="{{ form.email.id_for_label }}" class="form-label">Электронная почта</label>
                    {{ form.email }}
                </div>
                <div class="form-group mt-3">
                    <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
                    {{ form.password }}
                </div>
                {% if messages %}
                    <div class="form-error" role="alert">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row mt-3 align-items-center">
                    <div class="col">
                        <button type="submit" class="gradient-btn" data="Войти"></button>
                    </div>
                    <div class="col">
                        <a href="#">Забыли пароль?</a>
                    </div>
                    <div class="col">
                        <a href="{% url 'register' %}">Создать аккаунт</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
