.container-chats {
    display: flex;
    background-color: #212529;
    padding: 20px;
    border-radius: 20px;
    height: 85vh;
}

.chat-list {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.list-name {
    font-size: 1.5rem;
    margin-left: 5px;
}

.chats {
    flex-grow: 1;
    padding-right: 10px;
    overflow-y: auto;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-item:hover {
    background-color: #394047;
}

.chat-link.active .chat-item {
    background-color: #394047;
}

.chat-link {
    color: #fff;
}

.chat-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.chat-name-list {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resizer {
    border-radius: 2px;
    background-color: #66666622;
    cursor: ew-resize;
    height: 100%;
    width: 5px;
}

.chat-window {
    position: relative;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 1px; /* без этого работает некорректно */
}

.chat-name-window {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    width: 70%;
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.message-sent {
    background-color: #4a90e288;
    align-self: flex-end;
    margin-left: auto;
}

.message-received {
    background-color: #6668;
    align-self: flex-start;
}

.message-text {
    font-size: 1rem;
    white-space: pre-wrap;
}

.message-sent-time {
    align-self: flex-end;
    font-size: 0.8rem;
    color: #65a1e6;
}

.message-received-time {
    align-self: flex-end;
    font-size: 0.8rem;
    color: #888;
}

.input-area {
    display: flex;
    align-items: center;
    width: 100%;
}

.text-message-field {
    flex-grow: 1;
    width: 100%;
    height: 68px; /* Начальная высота */
    resize: none;
    overflow-y: hidden; /* Скрыть скроллбар по умолчанию */

    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    background-color: #333;
    border: 1px solid #444;
    color: white;
    font-size: 16px;
}

.text-message-field:focus {
    outline: none;
}

.input-area button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.input-area-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 5px;
}

/* Вращение иконки ИИ */
#aiHelpIcon {
    display: inline-block;
    overflow: hidden;
    transform-origin: center;
}

.rotate {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
       transform: rotate(360deg);
    }
}

.commentary {
    font-style: italic;
    color: #888;
    font-size: 1.2rem;
}

.commentary-centered {
    /* center position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-style: italic;
    color: #888;
    font-size: 1.2rem;
}

