.container-chats {
    display: flex;
    background-color: #111111;
    padding: 20px;
    border-radius: 20px;
    height: calc(100vh - 75px - 15px);
    min-height: 300px;
    width: 1300px;
    margin: 75px auto 15px;
    border: 1px solid #727272;
}

@media (max-width: 1500px) {
    .container-chats {
        width: 90%;
    }
}

.chat-list {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.list-name {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    position: relative; 
}

.list-name .text {
    flex-grow: 1; 
    text-align: center;
}

.list-name .group-icon {
    position: absolute;
    right: 0; 
    margin-right: 20px; 
    width: 30px;
    height: 30px;
}

.group-icon:active {
    transform: scale(0.85);
    opacity: 0.7; 
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #111111;
    border: 2px solid #727272;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    left: 266px;
    top: 16px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 20px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    transition: background-color 0.2s; 
}

.dropdown-item:hover {
    background-color: #333333;
}


.chats {
    flex-grow: 1;
    padding-right: 10px;
    overflow-y: auto;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-item:hover {
    background-color: #333;
}

.chat-link {
    color: #fff;
}

.chat-link.active .chat-item {
    background-color: #444;
}

.chat-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.chat-name-list {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resizer {
    border-radius: 2px;
    background-color: #727272;
    height: 100%;
    width: 5px;
}

.resizer:active {
    background-color: #444;
}

.resizer button {
    background-color: transparent;
    border: none;
    cursor: ew-resize !important;
}

.chat-window {
    position: relative;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 1px; /* без этого работает некорректно */
}

.chat-name-ref {
    color: white;
    border-bottom: 1px solid #353535;
}

.chat-name-window {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 10px;
}

.message {
    width: 70%;
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.message-sent {
    background-color: #4a90e288;
    align-self: flex-end;
    margin-left: auto;
}

.message-received {
    background-color: #6668;
    align-self: flex-start;
    margin-left: 7%;
    margin-top: 3%;
}

.message-text {
    font-size: 1rem;
    white-space: pre-wrap;
}

.message-sent-time {
    align-self: flex-end;
    font-size: 0.8rem;
    color: #888;
}

.message-received-time {
    align-self: flex-end;
    font-size: 0.8rem;
    color: #888;
}

.input-area {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.text-message-field {
    flex-grow: 1;
    width: 100%;
    height: 68px;
    resize: none;
    overflow-y: hidden;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #727272;
    color: white;
    font-size: 16px;
}

.text-message-field:focus {
    outline: none;
}

.text-message-field::placeholder {
    color: #727272;
}

.input-area button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.input-area-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 5px;
}

/* Вращение иконки ИИ */
#aiHelpIcon {
    display: inline-block;
    overflow: hidden;
    transform-origin: center;
}

.rotate {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
       transform: rotate(360deg);
    }
}

.context-menu {
    display: none;
    position: absolute;
    background-color: #111111;
    border-radius: 10px;
    border: 2px solid #727272;
    padding: 10px;
    z-index: 1;
}

.context-menu button {
    display: block;
    width: 100%; 
    background-color: transparent;
    border: none;
    padding: 3px;
    text-align: left;
}

.context-menu #edit-message-btn {
    color: white;
}

.context-menu #delete-message-btn {
    color: red;
}

.context-menu #delete-chat-btn {
    color: red;
}
/* create group */
.create-group-controls {
    display: flex;
    justify-content: space-between;
}

.user-selection-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-height: 40px;
    cursor: text;
    margin-top: 10px;
    width: 100%;
}

#search-input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    min-width: 150px;
    background: transparent;
    box-sizing: border-box; 
    color: white;
}

#search-input::placeholder {
    color: #ababab;
}

.back-btn,
.next-btn {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.back-btn:hover,
.next-btn:hover {
    background-color: black;
    color: white;
    outline: 2px solid white;
}

.back-btn:active,
.next-btn:active {
    background-color: #333
}

#user-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
    max-height: 400px;
    overflow-y: auto; 
    margin-top: 10px;
    margin-bottom: 50px; 
    z-index: 10;
}

.user-card {
    display: flex;
    align-items: center;
    background: #111111;
    border-radius: 12px;
    padding: 12px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 265px;
    border: 2px solid #929292;
}

.user-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.user-info h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #ffffff;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    color: #007bff;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.2s;
}

.pagination a:hover {
    background: #007bff;
    color: #fff;
}

.selected-users-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-height: 40px;
    align-items: center;
}

#selected-users-container h4 {
    margin-top: 6%
}

.user-tag {
    display: flex;
    align-items: center;
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    margin: 3px;
}

.user-tag .remove-btn {
    background: transparent;
    border: none;
    color: white;
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
}

.selected-user-card {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #111111;
    border-radius: 8px;
    margin: 5px 0;
}

.selected-user-card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.select-btn {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background-color: transparent; 
    border: 2px solid #929292;
    cursor: pointer;
    transition: border-color 0.3s ease; 
    flex-shrink: 0; 
}
  
.select-btn.selected {
    background-color: #ebebeb;
}

#create-btn {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;  
    font-size: 16px;  
    font-weight: bold;
    cursor: pointer; 
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; 
    border-radius: 4px;
    transition: all 0.3s ease;
}

#create-btn:hover {
    background-color: #000000; 
    color: white;
    outline: 2px solid white;
}

#create-btn:active {
    background-color: #333
}

.message-wrapper {
    display: flex;
}

.message-sender {
    display: flex;
    align-items: center;
    margin-right: -24%;
    margin-top: -2%;
}

.sender-avatar {
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -20%;
}

.sender-name {
    font-weight: bold;
    margin-top: -25%;
}

.message {
    max-width: 80%;
}
#group-name-container {
    margin-top: 7%;
    width: 85%;
    margin-left: 15%;
}


#group-name-container h2 {
    position: absolute;
    margin-top: -11%;
    left: 40%; 
}


.avatar-upload-container {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.avatar-label {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #ffffff;
    margin-left: -110%;
    margin-top: -30%;
}

.avatar-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.avatar-edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.avatar-upload-container:hover .avatar-edit-icon {
    opacity: 1;
}

#group-name {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-top: -17%;
}

#group-avatar {
    display: none;
}

.modal {
    display: none; /* Окно скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-content {
    background-color: #111111;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Arial', sans-serif;
    border: 1px solid #ffffff;
}


.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.modal-buttons button {
    flex: 1;
    padding: 10px 5px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent; 
}

#cancel-delete-btn {
    border: 2px solid #ffffff;
    color: #ffffff;
}



#confirm-delete-btn {
    border: 2px solid #ff0000;
    color: #ff0808;
}

#cancel-delete-btn:hover {
    border: 2px solid #ffffff;
}


.delete-option {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.toggle-circle {
    width: 30px;
    height: 30px;
    border: 2px solid #007bff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .toggle-circle {
    background-color: #007bff;
}





.chat-info-panel {
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: -2%;
}

.panel-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.return-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.return-btn {
    background-color: #ffffff;
    color:  #000000;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.panel-title {
    font-size: 1.5em;
    margin-top: -50px;
}

.chat-avatar {
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    width: 120px;
    height: 120px;
}

#chat-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

#total-participants {
    color: gray;
    margin-top: 5px;
    font-size: 1em;
}

h4 {
    font-size: 1.2em;
    margin-top: 30px;
    font-weight: bold;
}

.members-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.member-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.member-img {
    border-radius: 50%;
    margin-right: 10px;
}

.member-item span {
    font-size: 1em;
    color: #ffffff;
}

button {
    margin-top: 20px;
}
