.subscription-page {
    background-color: #212529;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.logo-gradient {
    font-weight: bold;
    background: linear-gradient(315deg, rgba(207,40,185,1) 0%, rgba(97,142,228,1) 100%);
    -webkit-background-clip: text; /* Применяем градиент к тексту */
    background-clip: text; /* Стандартное свойство */
    color: transparent; /* Делаем текст прозрачным, чтобы был виден градиент */
    -webkit-text-fill-color: transparent; /* Для поддержки в Safari */
}

.subtitle {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.subscription-plans {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.plan {
    border-radius: 20px;
    border: 2px solid #888;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    padding: 20px;
    width: 100%;
    max-width: 480px;
}

.plan h2 {
    margin-bottom: 15px;
    font-size: 1.8em;
}

.plan .price {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
}

.plan ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-bottom: 25px;
}

.plan ul li {
    margin: 10px 0;
    font-size: 1.1em;
}

.subscribe-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.subscribe-button:hover {
    background-color: #0056b3;
}

.marketing-highlight {
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    border: 2px solid #888;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    text-align: left;
    margin-bottom: 20px;
}

.marketing-highlight p {
    margin: 10px 0;
    font-size: 1.1em;
}

.subscription-info {
    font-size: 0.9em;
}

.subscription-info a {
    color: #007bff;
    text-decoration: none;
}

.subscription-info a:hover {
    text-decoration: underline;
}
