{% extends 'main/layout.html' %}

{% block title %}Редактировать пост - Connect{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Редактировать пост</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <textarea name="text" class="form-control bg-secondary text-light" rows="5">{{ post.text }}</textarea>
        </div>
        <button type="submit" class="gradient-btn mt-3" data="Сохранить изменения"></button>
    </form>
    <a href="{% url 'profile' %}" class="btn btn-secondary mt-3">Отмена</a>
</div>
{% endblock %}
