{% extends 'main/layout.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}Пост - Connect{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'person/css/person.css' %}">
    <link rel="stylesheet" href="{% static 'person/css/like_users_list.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/markdown.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/github-dark.min.css">
{% endblock %}

{% block content %}
    
{% if user.is_authenticated %}
<meta name="user-id" content="{{ user.id }}">
{% endif %}
    
<main class="custom-container">    
<section class="container-profile">
    {% csrf_token %}
    <div class="posts-container-header">
        <button class="back-arrow-btn" onclick="window.history.back()">
            <i class="fa-solid fa-arrow-left"></i> Пост 
        </button>
    </div>
    <div class="post-item" data-post-id="{{ post.id }}">
        <div class="post-header">
            <img src="{{ post.user.get_avatar_url }}" class="post-avatar" alt="{{ post.user.username }}">

            <!-- Информация о пользователе -->
            <div class="post-info">
                <h3>
                    <a href="{% url 'user_profile' post.user.username %}">
                        {{ post.user.first_name }} {{ post.user.last_name }}
                    </a>
                </h3>
                <p class="post-username">@{{ post.user.username }}</p>
            </div>
            <p class="post-date">{{ post.date }}</p>

            {% if user.is_authenticated and user == post.user %}
                <div class="post-actions">
                    <button class="post-actions-toggle" title="Действия над постом">
                        <img src="{% static 'person/img/dots.svg' %}" alt="Comment Icon" width="50" height="50">
                    </button>
                    <ul class="post-actions-list">
                        <li>
                            <button class="post-actions-btn edit" data-bs-toggle="modal" data-bs-target="#editPostModal{{ post_id }}">
                                Редактировать
                            </button>
                        </li>
                        <li>
                            <button class="post-actions-btn delete" data-bs-toggle="modal" data-bs-target="#deletePostModal{{ post_id }}">
                                Удалить
                            </button>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="post-text" id="post-text-{{ post.id }}">{{ post.formated_text|safe }}</div>

        {% if post.image %}
            <div class="post-image-container">
                <img src="{{ post.image.url }}" alt="Прикреплённая картинка">
            </div>
        {% endif %}

        <div class="post-footer">
            <span>
                <button class="like-btn {% if request.user in post.likes.all %}liked{% endif %}" data-post-id="{{ post.id }}" title="Лайк">
                    <i class="fas fa-heart"></i>
                </button>
                <span class="post-footer-counter">{{ post.total_likes }}</span>
                
                <img style="margin-left: 40px;" src="{% static 'person/img/comments.svg' %}" alt="Comment Icon" width="28" height="28">
                <span class="post-footer-counter">{{ post.total_comments }}</span>
            
                <button class="comment-btn" title="Поделиться" onclick="copyToClipboard({{ post.id }})">
                    <img src="{% static 'person/img/share.svg' %}" alt="Share Icon" width="28" height="28">
                </button>
            </span>
            <span>
                <img src="{% static 'person/img/views.svg' %}" alt="Иконка просмотра">
                <span class="post-footer-counter">
                    {{ post.views }}
                </span>
            </span>
        </div>
    </div>

    <!-- Форма для нового комментария -->
    {% if user.is_authenticated %}
        <form method="POST" class="comment-form">
            {% csrf_token %}
            <div class="comment-field">
                <img src="{{ request.user.get_avatar_url }}" class="post-avatar" alt="{{ request.user.username }}">
                <textarea name="content" class="custom-form-control" rows="4" placeholder="Напишите комментарий..." required></textarea>
            </div>
            <button type="submit" class="gradient-btn" data="Отправить"></button>
        </form>
    {% else %}
        <div class="commentary">Войдите в свою учётную запись, чтобы прокомментировать пост.</div>
    {% endif %}

    {% for comment in comments %}
        <div class="comment-item" data-comment-id="{{ comment.id }}" data-user-id="{{ comment.user.id }}">
            <div class="post-header">
                <img src="{{ comment.user.get_avatar_url }}" class="post-avatar" alt="{{ comment.user.username }}">
                <div class="post-info">
                    <h3>
                        <a href="{% url 'user_profile' comment.user.username %}">
                            {{ comment.user.first_name }} {{ comment.user.last_name }}
                        </a>
                    </h3>
                    <p class="post-username">@{{ comment.user.username }}</p>
                </div>
            </div>
            <p class="comment-text">{{ comment.content }}</p>
        </div>

        <!-- Модальное окно для редактирования комментария -->
        <div class="modal fade" id="editCommentModal{{ comment.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editCommentModalLabel{{ comment.id }}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content modal-adaptive-size text-light">
                    <div class="modal-header border-secondary">
                        <h1 class="modal-title fs-5" id="editCommentModalLabel{{ comment.id }}">Редактировать комментарий</h1>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>

                    <div class="modal-body">
                        <div class="post-form-content">
                            <form action="{% url 'edit_comment' comment.id %}" method="post" id="editCommentForm{{ comment.id }}" class="d-flex flex-column flex-grow-1">
                                {% csrf_token %}
                                <textarea name="content" class="custom-form-control" rows="4" required>{{ comment.content }}</textarea>
                                <span class="post-char-count">0 / 1000</span>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer border-secondary">
                        <div class="post-form-footer">
                            <button type="submit" class="gradient-btn" form="editCommentForm{{ comment.id }}" data="Сохранить изменения"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- Контекстное меню -->
    {% if user.is_authenticated %}
        <div id="context-menu" class="context-menu" style="display: none; position: absolute;">
            <button id="edit-comment-btn" data-comment-id="">Редактировать</button>
            <button id="delete-comment-btn" data-comment-id="">Удалить</button>
        </div>
   {% endif %}
</section>
</main>
{% endblock %}


{% block script %}
    <script src="{% static 'person/js/like_post.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'person/js/post_actions_context_menu.js' %}"></script>
    <script src="{% static 'person/js/add_view_for_post.js' %}"></script>
    <script src="{% static 'person/js/comment_context_menu.js' %}"></script>
    <script src="{% static 'person/js/commentsEnter.js' %}"></script>
    <script src="{% static 'person/js/copy_post_link.js' %}"></script>
    <script src="{% static 'main/js/copy_code.js' %}"></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}
