{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Профиль - Connect{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'person/css/person.css' %}">
{% endblock %}

{% block content %}

<section class="container container-profile">
<div class="row">
    <div class="col-md-8 d-flex flex-column">
        <h1 class="person-name mb-4">{{ user.first_name }} {{ user.last_name }}</h1>
        <div class="about-section">
            <h2>О себе
                <a href="#" class="edit-about-btn" data-bs-toggle="modal" data-bs-target="#editAboutModal" title="Редактировать">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </h2>
            {% if user.about %}
                <div class="about-container">
                    <p class="about">{{ user.about }}</p>
                    <div class="about-fade-out"></div>
                    <a class="about-read-more-btn" style="display: none;">Читать далее</a>
                </div>
            {% else %}
                <p class="commentary">Информация отсутвует</p>
            {% endif %}
            <div>
                <span>Подписчики <span class="follow-numbers">{{ followers_count }}</span></span>
                <span>Подписки <span class="follow-numbers">{{ following_count }}</span></span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="profile-image-container">
            <img src="{{ user.get_avatar_url }}" alt="person" class="profile-image">
            <div class="image-actions">
                <form method="post" enctype="multipart/form-data" id="avatarForm">
                    {% csrf_token %}
                    <input type="file" name="avatar" id="avatar" class="form-control d-none" accept="image/*">
                    <a href="#" class="edit-image-btn" id="uploadAvatarBtn" title="Редактировать">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </form>
                {% if user.image %}
                    <a href="{% url 'delete_avatar' %}" class="delete-img-btn" title="Удалить">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</section>

<!-- Модальное окно для редактирования "О себе" -->
<div class="modal fade" id="editAboutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editAboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header border-secondary">
                <h1 class="modal-title fs-5" id="editAboutModalLabel">Редактировать информацию о себе</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'edit_about' %}" method="post" id="edit-about-modal-form">
                    {% csrf_token %}
                    {{ about_form.about }}
                </form>
                <span id="about-char-count">0 / 250</span>
            </div>
            <div class="modal-footer border-secondary">
                <button type="submit" class="gradient-btn" id="edit-about-button" form="edit-about-modal-form" data="Сохранить изменения"></button>
            </div>
        </div>
    </div>
</div>

<section class="container container-profile mt-4">
<div class="d-flex justify-content-between align-items-center">
    <h2>Посты</h2>
    <!-- https://bootstrap-4.ru/docs/5.3/components/modal/ -->
    <!-- Кнопка-триггер модального окна -->
    <button type="button" class="gradient-btn" data-bs-toggle="modal" data-bs-target="#createPostModal" data="Создать пост"></button>
    <!-- Модальное окно для добавления поста -->
    <div class="modal fade" id="createPostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createPostModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-fixed-height bg-dark text-light">
                <div class="modal-header border-secondary">
                    <h1 class="modal-title fs-5" id="createPostModalLabel">Создать новый пост</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>

                <div class="modal-body">
                    <!-- Содержимое страницы с текстовым полем и изображениями -->
                    <div id="postFormContent">
                        <form action="{% url 'create_post' %}" method="post" id="createPostForm" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ empty_post_form.text }}
                            <span class="post-char-count">0 / 5000</span>
                            <!-- ДОДЕЛАТЬ: при загрузки первый span должен исчезать и добавить предпромостр загруженных изображений -->
                            <div class="modal-list-images">
                                <div>Прикрепите изображения к посту</div>
                                <span id="selectedImageName"></span>
                            </div>
                        </form>
                    </div>

                    <!-- Содержимое страницы с ИИ чатом -->
                    <div class="ai-chat-content" id="aiChatContent" style="display: none;">
                    </div>
                </div>

                <div class="modal-footer border-secondary">
                    <!-- Нижняя часть страницы с текстовым полем и изображениями -->
                    <div class="post-form-footer" id="postFormFooter">
                        <span>
                            <button type="button" class="ai-button" id="activateAiChat" title="Открыть чат ИИ">
                                <img src="{% static 'person/img/ai.svg' %}" height="35px" width="35px" alt="Открыть чат ИИ">
                            </button>
                            <label for="{{ empty_post_form.image.id_for_label }}" title="Добавить изображение">
                                <img src="{% static 'person/img/add_image.svg' %}" class="add-image" alt="Добавить изображение">
                            </label>
                            {{ empty_post_form.image }}
                        </span>
                        <button type="submit" class="gradient-btn" form="createPostForm" data="Опубликовать"></button>
                    </div>

                    <!-- Нижняя часть страницы с ИИ чатом -->
                    <div class="ai-chat-footer" id="aiChatFooter" style="display: none;">
                        <button type="button" id="backButton">
                            <img src="{% static 'person/img/back_arrow.svg' %}" height="32px" width="32px" alt="Назад" title="Назад">
                        </button>
                        <textarea class="text-message-field" id="textMessageField" placeholder="Введите запрос ИИ..." maxlength="5000"></textarea>
                        <button type="submit" id="aiHelpButton">
                            <img src="{% static 'chats/img/send.svg' %}" height="30px" width="30px" alt="Отправить запрос" title="Отправить запрос">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if posts %}
    <div class="posts-list load-more">
        {% include 'person/profile_posts.html' %}
    </div>
{% else %}
    <p class="commentary">У вас нет записей</p>
{% endif %}

</section>

{% endblock %}

{% block script %}
    <script src="{% static 'person/js/hide_text.js' %}"></script>
    <script src="{% static 'person/js/like_post.js' %}"></script>

    <script src="{% static 'person/js/lazy_loading.js' %}"></script>
    <script src="{% static 'person/js/images.js' %}"></script>

    <script src="{% static 'person/js/ai_chat.js' %}"></script>
    <script src="{% static 'person/js/modal_pages.js' %}"></script>
    <script src="{% static 'person/js/show_counters.js' %}"></script>
{% endblock %}
