{% load static %}
{% load custom_filters %}

{% for post in posts %}
    {% with post_id=post.id %}
    <div class="post-item">
        <div class="post-header-profile">
            <img src="{{ post.user.get_avatar_url }}" class="post-avatar" alt="{{ post.user.username }}">

            <!-- Информация о пользователе -->
            <div class="post-info">
                <h3>
                    <a href="{% url 'user_profile' post.user.username %}">
                        {{ post.user.first_name }} {{ post.user.last_name }}
                    </a>
                </h3>
                <p class="post-username">@{{ post.user.username }}</p>
            </div>
            
            <p class="post-date">{{ post.date }}</p>
            <div>
                <button class="post-actions-btn" data-bs-toggle="modal" data-bs-target="#editPostModal{{ post_id }}" title="Редактировать">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="post-actions-btn" data-bs-toggle="modal" data-bs-target="#deletePostModal{{ post_id }}" title="Удалить">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="post-content">
            <p class="post-text" id="post-text-{{ post_id }}">{{ post.text }}</p>
            <div class="fade-out"></div>
            <a class="read-more-btn" id="read-more-btn-{{ post_id }}" style="display: none;">Читать далее</a>
        </div>
        {% if post.image %}
            <div class="post-image-container">
                <img src="{{ post.image.url }}" alt="Прикреплённая картинка">
            </div>
        {% endif %}
        <div class="post-footer">
            <div class="like-group">
                <button class="like-btn {% if request.user in post.likes.all %}liked{% endif %}" data-post-id="{{ post_id }}" title="Лайк">
                    <i class="fas fa-heart"></i>
                </button>
                <span class="likes-count">{{ post.total_likes }}</span>
            </div>
        
            <a href="{% url 'post_detail' post.id %}">
                <button class="comment-btn" title="Комментарий">
                    <img src="{% static 'person/img/comments.svg' %}" alt="Comment Icon" width="30" height="30">
                </button>
            </a>
        </div>
        
        <!-- Модальное окно для редактирования поста -->
        <div class="modal fade" id="editPostModal{{ post_id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editPostModalLabel{{ post_id }}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content modal-adaptive-size text-light">
                {% with current_post_form=post_forms|get_item:post_id %}
                    <div class="modal-header border-secondary">
                        <h1 class="modal-title fs-5" id="editPostModalLabel{{ post_id }}">Редактировать пост</h1>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>

                    <div class="modal-body">
                        <!-- Содержимое страницы с текстовым полем и изображениями -->
                        <div class="post-form-content" id="postFormContent{{ post_id }}">
                            <form action="{% url 'edit_post' post_id %}" method="post" id="editPostForm{{ post_id }}" class="d-flex flex-column flex-grow-1" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ current_post_form.text }}
                                <span class="post-char-count">0 / 5000</span>
                                <!-- ДОДЕЛАТЬ: при загрузки первый span должен исчезать и добавить предпромостр загруженных изображений -->
                                <div class="modal-list-images">
                                    <div>Прикрепите изображения к посту</div>
                                    <span id="selectedImageName{{ post_id }}"></span>
                                </div>
                            </form>
                        </div>

                        <!-- Содержимое страницы с ИИ чатом -->
                        <div class="ai-chat-content" id="aiChatContent{{ post_id }}" style="display: none;">
                        </div>
                    </div>

                    <div class="modal-footer border-secondary">
                        <!-- Нижняя часть страницы с текстовым полем и изображениями -->
                        <div class="post-form-footer" id="postFormFooter{{ post_id }}">
                            <span>
                                <button type="button" class="ai-button" id="activateAiChat{{ post_id }}" title="Открыть чат ИИ">
                                    <img src="{% static 'person/img/ai.svg' %}" height="35px" width="35px" alt="Открыть чат ИИ">
                                </button>
                                <label for="{{ current_post_form.image.id_for_label }}" title="Добавить изображение">
                                    <img src="{% static 'person/img/add_image.svg' %}" class="add-image" alt="Добавить изображение">
                                </label>
                                {{ current_post_form.image }}
                            </span>
                            <button type="submit" class="gradient-btn" form="editPostForm{{ post_id }}" data="Сохранить изменения"></button>
                        </div>

                        <!-- Нижняя часть страницы с ИИ чатом -->
                        <div class="ai-chat-footer" id="aiChatFooter{{ post_id }}" style="display: none;">
                            <button type="button" id="backButton{{ post_id }}">
                                <img src="{% static 'person/img/back_arrow.svg' %}" height="32px" width="32px" alt="Назад" title="Назад">
                            </button>
                            <textarea class="text-message-field" id="textMessageField{{ post_id }}" placeholder="Введите запрос ИИ..." maxlength="5000"></textarea>
                            <button type="button" id="aiHelpButton{{ post_id }}">
                                <img src="{% static 'person/img/send.svg' %}" height="30px" width="30px" alt="Отправить запрос" title="Отправить запрос">
                            </button>
                        </div>
                    </div>
                {% endwith %}
                </div>
            </div>
        </div>

        <!-- Модальное окно для удаления поста -->
        <div class="modal fade" id="deletePostModal{{ post_id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deletePostModalLabel{{ post_id }}">
            <div class="modal-dialog">
                <div class="modal-content text-light">
                    <div class="modal-header border-secondary">
                        <h1 class="modal-title fs-5" id="deletePostModalLabel{{ post_id }}">Удалить пост</h1>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <p style="font-size: 1rem">Вы уверены, что хотите удалить этот пост?</p>
                    </div>
                    <div class="modal-footer border-secondary d-flex justify-content-between">
                        <button type="button" class="gradient-btn" data-bs-dismiss="modal" data="Отмена"></button>
                        <form action="{% url 'delete_post' post_id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="gradient-btn" data="Удалить"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
    </div>
{% endfor %}
