{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Профиль - Connect{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'person/css/person.css' %}">
{% endblock %}

{% block content %}

<main>
    <section class="container container-profile mt-5">
        <div class="row">
            <div class="col-md-8">
                <h2 class="person_name mb-4">{{ user.first_name }} {{ user.last_name }}</h2>
                <div class="about-section">
                    <h2>О себе</h2>
                    {% if user.about %}
                        <p class="about">{{ user.about }}</p>
                    {% else %}
                        <p class="commentary">Отсутвует</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <img src="{% static 'person/img/default.png' %}" alt="person" class="profile-image">
            </div>
        </div>
    </section>

    <section class="container container-profile mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="posts">Посты</h2>
            <button href="{% url 'create' %}" class="gradient-btn" data="Добавить запись"></button>
        </div>

        {% if profile %}
            <div class="posts-list">
                {% for el in news1 %}
                    <div class="post-item">
                        <h3>{{ el.title }}</h3>
                        <p>{{ el.anons }}</p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="commentary">У вас нет записей</p>
        {% endif %}
    </section>
</main>

{% endblock %}