{% load static %}

{% for post in posts %}
    <div class="post-item" data-post-id="{{ post.id }}">
        <div class="post-header">
            <img src="{{ post.user.get_avatar_url }}" class="post-avatar" alt="{{ post.user.username }}">

            <!-- Информация о пользователе -->
            <div class="post-info">
                <h3>
                    <a href="{% url 'user_profile' post.user.username %}">
                        {{ post.user.first_name }} {{ post.user.last_name }}
                    </a>
                </h3>
                <p class="post-username">@{{ post.user.username }}</p>
            </div>
            
            <p class="post-date">{{ post.date }}</p>
        </div>
    
        <div class="post-content">
            <div class="post-text" id="post-text-{{ post.id }}">{{ post.formated_text|safe }}</div>
            <div class="fade-out"></div>
            <a class="read-more-btn" id="read-more-btn-{{ post.id }}" style="display: none;">Читать далее</a>
        </div>
        {% if post.images.all %}
            <div class="post-image-container">
                <div id="carouselPost{{ post.id }}" class="carousel slide" data-ride="carousel">
                    <!-- Индикаторы -->
                    <div class="carousel-indicators">
                        {% for image in post.images.all %}
                            <button type="button" data-bs-target="#carouselPost{{ post.id }}" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    {% if forloop.first %} class="active" aria-current="true" {% endif %}
                                    aria-label="Slide {{ forloop.counter }}"></button>
                        {% endfor %}
                    </div>
        
                    <!-- Карусель изображений -->
                    <div class="carousel-inner">
                        {% for image in post.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ image.image.url }}" alt="Прикреплённая картинка">
                            </div>
                        {% endfor %}
                    </div>
        
                    <!-- Кнопки навигации -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPost{{ post.id }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPost{{ post.id }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        {% endif %}

        <div class="post-footer">
            <ul>
                <li>
                    <button class="post-footer-icon like-btn {% if request.user in post.likes.all %}liked{% endif %}" data-post-id="{{ post.id }}" title="Лайк">
                        {% if request.user in post.likes.all %}
                            <img src="{% static 'person/img/like_red.svg' %}" alt="Like Icon" width="28" height="28">
                        {% else %}
                            <img src="{% static 'person/img/like.svg' %}" alt="Like Icon" width="28" height="28">
                        {% endif %}
                    </button>
                    <span class="post-footer-counter">{{ post.total_likes }}</span>
                </li>
                <li>
                    <a class="post-footer-icon" href="{% url 'post_detail' post.id %}" title="Комментировать">
                        <img src="{% static 'person/img/comments.svg' %}" alt="Comment Icon" width="28" height="28">
                    </a>
                    <span class="post-footer-counter">{{ post.total_comments }}</span>
                </li>
                <li>
                    <button class="post-footer-icon" title="Поделиться" onclick="copyToClipboard({{ post.id }})">
                        <img src="{% static 'person/img/share.svg' %}" alt="Share Icon" width="28" height="28">
                    </button>
                </li>
            </ul>
            <ul>
                <li>
                    <img src="{% static 'person/img/views.svg' %}" alt="Иконка просмотра" width="28" height="28">
                    <span class="post-footer-counter">
                        {{ post.views }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
{% endfor %}
