{% for post in posts %}
    <div class="post-item">
        <div class="post-header-profile">
            <p class="post-date">{{ post.date }}</p>
        </div>

        <div class="post-content">
            <p class="post-text" id="post-text-{{ post.id }}">{{ post.text }}</p>
            <div class="fade-out"></div>
            <a class="read-more-btn" id="read-more-btn-{{ post.id }}" style="display: none;">Читать далее</a>
        </div>
        {% if post.image %}
            <div class="post-image-container">
                <img src="{{ post.image.url }}" alt="Прикреплённая картинка">
            </div>
        {% endif %}

        <div class="post-footer">
            <button class="like-btn {% if request.user in post.likes.all %}liked{% endif %}" data-post-id="{{ post.id }}">
                <i class="fas fa-heart"></i>
            </button>
            <span class="likes-count">{{ post.total_likes }}</span>
        </div>
    </div>
{% endfor %}
