{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Профиль - Connect{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'person/css/person.css' %}">
    <link rel="stylesheet" href="{% static 'person/css/like_users_list.css' %}">
{% endblock %}

{% block content %}

<section class="profile-header container-profile">
    <span class="profile-image-container">
        <img src="{{ profile_user.get_avatar_url }}" class="profile-image" width="400" height="400" alt="person">
    </span>
    <span class="user-info">
        <span class="person-name">{{ profile_user.first_name }} {{ profile_user.last_name }}</span>
        <span class="person-username">@{{ profile_user }}</span>
        <span class="about-section">
            <span class="about-label">О себе</span>
            {% if profile_user.about %}
                <span class="about-container">{{ profile_user.about }}</span>
            {% endif %}
        </span>
        <span class="subscribers-info">
            <span id="userFollowersCount" data-username="{{ profile_user.username }}">Подписчики <span class="follow-numbers">{{ followers_count }}</span></span>
            <span id="userFollowingCount" data-username="{{ profile_user.username }}">Подписки <span class="follow-numbers">{{ following_count }}</span></span>
        </span>
    </span>
    <div class="user-actions">
        {% if is_following %}
            <form action="{% url 'unfollow_user' profile_user.username %}" method="post">
                {% csrf_token %}
                <button class="gradient-btn" type="submit" data="Отписаться"></button>
            </form>
        {% else %}
            <form action="{% url 'follow_user' profile_user.username %}" method="post">
                {% csrf_token %}
                <button class="gradient-btn" type="submit" data="Подписаться"></button>
            </form>
        {% endif %}
        <a href="{% url 'start_chat' profile_user.id %}" class="btn btn-secondary">Написать сообщение</a>
    </div>
</section>

<section class="container-profile mt-4">
<div class="d-flex justify-content-between align-items-center">
    <h2>Посты</h2>
    <div class="modal fade" id="createPostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createPostModalLabel" aria-hidden="true"></div>
</div>

{% if posts %}
    <div class="posts-list load-more">
        {% include 'person/user_profile_posts.html' %}
    </div>
{% else %}
    <p class="commentary">У вас нет записей</p>
{% endif %}

</section>

<!-- Модальное окно для списка лайкнувших пост -->
<div class="modal fade" id="likedUsersModal" tabindex="-1" aria-labelledby="likedUsersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-light">
            <div class="modal-header border-secondary">
                <h5 class="modal-title" id="likedUsersModalLabel">Пользователи, лайкнувшие пост</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="liked-users-list">
                    <!-- Здесь будет список пользователей -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Контекстное меню для кнопки лайка -->
<div class="custom-context-menu" id="likeContextMenu">
    <ul>
        <li id="showLikedUsers">Посмотреть список лайкнувших</li>
    </ul>
</div>

<div class="modal fade" id="UserfollowersModal" tabindex="-1" aria-labelledby="UserfollowersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-light">
            <div class="modal-header border-secondary">
                <h5 class="modal-title" id="UserfollowersModalLabel">Подписчики</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="user-followers-list">
                    <!-- Здесь будет список подписчиков -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для списка подписок -->
<div class="modal fade" id="UserFollowingModal" tabindex="-1" aria-labelledby="UserFollowingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-light">
            <div class="modal-header border-secondary">
                <h5 class="modal-title" id="UserFollowingModalLabel">Подписки</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="user-following-list">
                    <!-- Здесь будет список подписок -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'person/js/hide_text.js' %}"></script>
    <script src="{% static 'person/js/lazy_loading.js' %}"></script>

    <script src="{% static 'person/js/like_post.js' %}"></script>
    <script src="{% static 'person/js/like_context_menu.js' %}"></script>

    <script src="{% static 'person/js/user_followers_list.js' %}"></script>
    <script src="{% static 'person/js/user_following_list.js' %}"></script>
{% endblock %}
