{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Чаты - Connect{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'chats/css/chats.css' %}">
{% endblock %}

{% block content %}
<main class="container-chats">

<!-- Список чатов -->
<aside class="chat-list">
    <h2 class="list-name">
        Чаты
        <img src="{% static 'chats/img/square-pen.svg' %}" alt="Чаты" class="group-icon" id="group-icon">
        <div class="dropdown-menu" id="dropdown-menu">
            <button class="dropdown-item" id="create-group-btn">
                <img src="{% static 'chats/img/group_chats_icon.svg' %}" height="20px" width="20px" style="margin-right: 3px;">
                Создать чат
            </button>
        </div>
    </h2>
    <div class="chats">
        {% if chats_list %}
            {% for chat_info in chats_list %}
            <div class="chat-item-container">
                <a class="chat-link {% if request.resolver_match.kwargs.chat_id == chat_info.chat_id %}active{% endif %}" href="{% url 'chats' chat_info.chat_id %}">
                    <div class="chat-item" title="{{ chat_info.name }}" data-chat-id="{{ chat_info.chat_id }}">
                        <img src="{% if chat_info.chat.is_group_chat %}
                                {{ chat_info.chat.get_avatar_url }}
                            {% else %}
                                {{ chat_info.user.get_avatar_url }}
                            {% endif %}" 
                             class="chat-image" 
                             height="40px"
                             width="40px"
                             alt="Avatar">
                        <div class="chat-info-container">
                            <div class="chat-name-time-container">
                                <span class="chat-name-list">
                                    {% if chat_info.chat.is_group_chat %}
                                        {{ chat_info.name }} 
                                    {% else %}
                                        {{ chat_info.user.first_name }} {{ chat_info.user.last_name }}
                                    {% endif %}
                                </span>
                                {% if chat_info.last_message_time %}
                                    <span class="chat-last-message-time">
                                        {% if chat_info.last_message_time.date == today %}
                                            {{ chat_info.last_message_time|time:"H:i" }}
                                        {% elif chat_info.last_message_time.date == yesterday %}
                                            Вчера
                                        {% else %}
                                            {{ chat_info.last_message_time|date:"d.m.y" }}
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </div>
                            {% if chat_info.last_message_text %}
                                <div class="last-message-preview">
                                    {% if chat_info.chat.is_group_chat and chat_info.last_message_sender %}
                                        <span class="last-message-sender">
                                            {{ chat_info.last_message_sender.first_name }}:
                                        </span>
                                    {% endif %}
                                    <span class="last-message-text">
                                        {{ chat_info.last_message_text|truncatechars:30 }}
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
                    <div id="chat-context-menu" class="context-menu">
                        <button id="delete-chat-btn">
                            <img src="{% static 'person/img/trash_icon.svg' %}" height="20px" width="20px" style="margin-right: 2px;">
                            Удалить
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="commentary" style="padding: 0">У вас нет чатов</p>
        {% endif %}
    </div>
    <div id="delete-chat-modal" class="modal" style="display:none;">
        <div class="modal-content">
            <h3>Вы уверены, что хотите удалить чат?</h3>
            <div class="delete-option">
                <input type="checkbox" id="delete-for-all-toggle">
                <label for="delete-for-all-toggle" class="toggle-circle"></label>
                <span>Удалить для всех</span>
            </div>
    
            <div class="modal-buttons">
                <button id="cancel-delete-btn">Отмена</button>
                <button id="confirm-delete-btn">Удалить</button>
            </div>
        </div>
    </div>
</aside>
<div class="resizer" id="dragMe">
    <button type="button" style="height: 100%;"></button>
</div>

<!-- Окно чата -->
<div class="chat-window" id="chat-window">
    {% if chat %}
        <h2 class="chat-name-window">
            {% if chat.name %}
                <img src="{{ chat.get_avatar_url }}" class="chat-image" height="50px" width="50px" alt="Avatar">
                <div class="chat-text">
                    <span class="chat-title">{{ chat.name }}</span>
                    <p id="count-users">{{ chat.participants.count }} участников</p>
                </div>
            {% else %}
                {% for participant in chat.participants.all %}
                    {% if participant != request.user %}
                        <img src="{{ participant.get_avatar_url }}" class="chat-image" height="50" width="50" alt="Avatar">
                        {{ participant.first_name }} {{ participant.last_name }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </h2>
        <div class="chat-name-line"></div>
        <div class="chat-info-panel" id="chat-info-panel" style="display: none;">
            <div class="panel-header">
                <div class="return-btn-container">
                    <a href="{% url 'chats' chat.id %}" class="return-btn">Назад</a>
                </div>
                <h2 class="panel-title">Информация о чате</h2>
                <img src="{{ chat.get_avatar_url }}" class="chat-avatar" height="120" width="120" alt="Avatar">
                <h3 id="chat-name">{{ chat.name }}</h3>
                <p id="total-participants">{{ chat.participants.count }} участников</p>
            </div>
            <h4>Состав участников:</h4>
            <ul class="members-list">
                {% for participant in chat.participants.all %}
                    <li class="member-item">
                        <img src="{{ participant.get_avatar_url }}" class="member-img" height="60" width="60" alt="Avatar">
                        <span>{{ participant.first_name }} {{ participant.last_name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="messages" id="chat-messages">
            {% regroup messages by timestamp.date as messages_by_date %}
            {% for date_group in messages_by_date %}
                <div class="message-date-divider">
                    <span class="date-label">
                        {% if date_group.grouper == today %}
                            Сегодня
                        {% elif date_group.grouper == yesterday %}
                            Вчера
                        {% else %}
                            {{ date_group.grouper|date:"d E Y" }}
                        {% endif %}
                    </span>
                </div>
                
                {% for message in date_group.list %}
                    <div class="message-wrapper">
                        {% if message.sender != request.user %}
                            {% ifchanged message.sender.id %}
                                <div class="message-sender">
                                    <div class="sender-avatar-container">
                                        <img src="{{ message.sender.get_avatar_url }}" alt="Avatar" class="sender-avatar" height="40px" width="40px">
                                    </div>
                                    <span class="sender-name">{{ message.sender.first_name }} {{ message.sender.last_name }}</span>
                                </div>
                            {% endifchanged %}
                        {% endif %}
                        
                        <div class="message {% if message.sender.id == request.user.id %}message-sent{% else %}message-received{% endif %}" data-message-id="{{ message.id }}">
                            <div class="message-text">{{ message.content }}</div>
                            <div class="message-meta">
                                {% if message.is_changed %}
                                    <span class="message-edited">Изменено</span>
                                {% endif %}
                                <span class="message-time">{{ message.timestamp|time:"H:i" }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <!-- Поле ввода текста -->
        <form method="post">
            {% csrf_token %}
            <div class="input-area">
                <textarea class="text-message-field" name="message-content" placeholder="Введите сообщение..."></textarea>
                <div class="input-area-buttons">
                    <button type="submit">
                        <img src="{% static 'chats/img/send.svg' %}" height="30px" width="30px">
                    </button>
                    <button type="button" id="aiHelpButton" data-chat-id="{{ chat.id }}">
                        <img src="{% static 'chats/img/ai.svg' %}" id="aiHelpIƒcon" height="30px" width="30px">
                    </button>
                </div>
            </div>
        </form>
    {% else %}
        <p class="commentary-centered">Чат не выбран</p>
    {% endif %}

    <div id="create-group-container" style="display: none">
        <div class="create-group-controls">
            <button id="cancel-group-btn" class="back-btn">Назад</button>
            <h2 class="user-selection-title">Выбор пользователей</h2>
            <button id="next-btn" class="next-btn">Далее</button>
        </div>
        <form id="search-form" class="d-flex mb-4" method="POST">
            {% csrf_token %}
            <input type="text" id="search-input" name="query" class="form-control" placeholder="Кого бы вы хотели выбрать?" value="{{ query }}">
        </form>

        <div id="user-list">
            {% for user in page_obj %}
                <div class="user-card" data-id="{{ user.id }}">
                    <div class="user-info">
                        <img src="{{ user.get_avatar_url }}" alt="Фото пользователя">
                        <div>
                            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                        </div>
                        <button class="select-btn"></button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="group-name-container" style="display:none;">
            <h2>Новая группа</h2>
            <div class="avatar-upload-container">
                <label for="group-avatar" class="avatar-label">
                    <img id="avatar-preview" src="{% static 'chats/img/group_chats_avatar.svg' %}" alt="Аватар" class="avatar-preview">
                    <span class="avatar-edit-icon">&#9998;</span>
                </label>
                <input type="file" id="group-avatar" class="form-control mb-4" accept="image/*">
            </div>
            <input type="text" id="group-name" class="form-control mb-4" placeholder="Название группы">
        </div>
    </div>
</div>

<!-- Контекстное меню -->
<div id="context-menu" class="context-menu">
    <button id="edit-message-btn">
        <img src="{% static 'person/img/edit_icon.svg' %}" height="20px" width="20px" style="margin-right: 2px;">
        Редактировать
    </button>
    <button id="delete-message-btn">
        <img src="{% static 'person/img/trash_icon.svg' %}" height="20px" width="20px" style="margin-right: 2px;">
        Удалить
    </button>
</div>

</main>
{% endblock %}

{% block script %}
    <script src="{% static 'chats/js/info_group_chats.js' %}"></script>
    <script src="{% static 'chats/js/drop_scrollbar.js' %}"></script>
    <script src="{% static 'chats/js/update_message_field.js' %}"></script>
    <script src="{% static 'chats/js/message_ai_request.js' %}"></script>
    <script src="{% static 'chats/js/resizer.js' %}"></script>
    <script src="{% static 'chats/js/messageSender.js' %}"></script>
    <script src="{% static 'chats/js/toggleDropdown.js' %}"></script>
    <script src="{% static 'chats/js/hidden.js' %}"></script>
    <script src="{% static 'chats/js/search_users.js' %}"></script>
    <script src="{% static 'chats/js/edit_message.js' %}"></script>
    <script src="{% static 'chats/js/avatar_preview_uploader.js' %}"></script>
    <script src="{% static 'chats/js/delete_chats.js' %}"></script>
{#    <script src="{% static 'chats/js/web_socket.js' %}"></script>#}
{% endblock %}
