{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Чаты - Connect{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'chats/css/chats.css' %}">
{% endblock %}

{% block content %}

<section class="container container-chats">
    <!-- Список чатов -->
    <aside class="chat-list">
        <h2 class="list-name">Чаты</h2>
        <div class="chats">
            {% for partner in chat_partners %}
                {% if partner.username != "admin" %}
                    <form method="get" action="{% url 'start_chat' partner.id %}">
                        <button type="submit" class="profile-avatar-container">
                            <img src="{{ partner.get_avatar_url }}" alt="{{ partner.username }}'s avatar" class="profile-avatar">
                            <span>{{ partner.username }}</span>
                        </button>
                    </form>
                {% endif %}
            {% empty %}
                <p>У вас пока нет активных чатов.</p>
            {% endfor %}
        </div>
        <!-- Добавьте еще чат-элементов -->
    </aside>

    <!-- Окно чата -->
    <div class="chat-window">
        <h2 class="chat-name">
            Имя чата
            {% for participant in chat.participants.all %}
                {% if participant != request.user %}
                    {{ participant.username }}
                {% endif %}
            {% endfor %}
        </h2>

        <!-- Сообщения -->
        <div class="messages">
            {% for message in messages %}
            <div class="message received">
                <div class="text"><strong>{{ message.sender.username }}:</strong> {{ message.content }}</div>
            </div>
            {% endfor %}
        </div>

        <!-- Поле ввода текста -->
        <form method="post">
            {% csrf_token %}
            <div class="input-area">
                <textarea class="text-message-field" name="message-content" placeholder="Введите сообщение..."></textarea>
                <button type="submit">
                    <img src="{% static 'chats/img/send.svg' %}" height="35px" width="35px">
                </button>
            </div>
        </form>
    </div>
</section>

<script src="{% static 'chats/js/message_field.js' %}"></script>

{% endblock %}
