.container-profile {
    background-color: #111111;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #727272;
    margin: 0 0 1rem 0;
}

.profile-image-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.image-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(169, 169, 169, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-actions a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
}

.profile-image-container:hover .image-actions {
    opacity: 1;
}

.image-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(169, 169, 169, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-actions a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
}

.image-actions .edit-image-btn {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-actions .edit-image-btn {
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* Секция с общей информацией о профиле */
.profile-header {
    display: flex;
    flex-direction: row;
}

.user-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
}

@media (max-width: 1100px) {
    .profile-header {
        flex-direction: column;
    }

    .user-info {
        width: 100%;
    }
}

.user-username {
    color: #939393;
}

.person-name {
    font-size: 2.5rem;
    font-weight: bold;
}

/* О себе */
.about-section {
    display: flex;
    flex-direction: column;
}

.about-label {
    color: #888;
    font-size: 1.85rem;
}

.about-section .edit-about-btn {
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.about-section:hover .edit-about-btn {
    opacity: 1;
}

.about-container {
    position: relative;
    overflow: hidden;
    font-style: italic;
    font-size: 1rem;
    overflow-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
}

.subscribers-info {
    word-spacing: 5px;
    display: flex;
}

.subscribers-info #followersCount:hover,
.subscribers-info #SubscribeCount:hover,
.subscribers-info #userFollowersCount:hover,
.subscribers-info #userFollowingCount:hover {
    text-decoration: solid underline;
    text-underline-offset: auto;
    text-decoration-skip-ink: auto;
}

.edit-about-btn,
.edit-image-btn,
.delete-img-btn {
    font-size: 1.7rem;
    color: #888;
    margin-left: 0.5rem;
}

.edit-about-btn:hover,
.edit-image-btn:hover,
.delete-img-btn:hover {
    color: #666;
}

.follow-numbers {
    font-weight: bold;
    margin-left: 0px;
    margin-right: 20px;
}

.person-username {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: -4px;
    color: #939393;
}


/* Стили для кнопок в секции профиля */
.user-actions .btn,
.user-actions .gradient-btn {
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #6a6a6a; 
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: 190px; 
    height: 60px; 
}


input[type="file"] {
    display: none;
}

#selected-image-name {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

/* Посты */
.post-item {
    background-color: transparent; 
    padding: 1.5rem;
    margin-top: 1.5rem;
    overflow-wrap: break-word;
    hyphens: auto;
    position: relative; 
}

.post-item:last-of-type::after {
    border-bottom: none;
}

.post-item::after {
    content: ""; 
    position: absolute; 
    bottom: 0;
    left: 0; 
    width: 106.2%; 
    transform: translateX(-3%);
    border-bottom: 2px solid rgb(114, 114, 114);; 
}

.post-item:first-of-type {
    margin-top: -9px;
}

.post-date {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 0;
}

.post-item .post-actions-btn {
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.post-item:hover .post-actions-btn {
    opacity: 1;
}

.post-actions-btn {
    font-size: 1.7rem;
    color: #888;
}

.post-actions-btn:hover {
    color: #666;
}

.post-text {
    font-size: 1rem;
    white-space: pre-wrap;
}

.post-text.expanded {
    max-height: none;
}

.read-more-btn {
    font-size: 1rem;
    color: #888;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: -2px -2px 2px 2px rgba(17, 17, 17, 0.8);
    background-color: #111111;
    cursor: pointer;
}

.read-more-btn:hover {
    color: #666;
}

.fade-out {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(transparent, #111111);
    pointer-events: none;
}

.commentary {
    font-style: italic;
    color: #888;
    font-size: 1.4rem;
}

.post-header-profile {
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.post-header-feed {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.post-avatar {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-info {
    flex-grow: 1; 
}

.post-info h3 {
    margin: 0;
    font-size: 1.5rem;
}

.post-info a {
    color: #fff;
}

.post-username {
    font-size: 1.2rem;
    color: #939393;
}

.post-content {
    position: relative;
    max-height: 300px;
    overflow: hidden;
}

.post-footer {
    display: flex;
    align-items: center;
}

/* Лайки поста */
.like-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #888;
    transition: opacity 0.3s ease;
}

.like-btn:hover {
    color: #666;
}

.like-btn.liked {
    color: red;
}

.likes-count {
    margin-left: 3px;
    font-size: 1rem;
}


/* Модальные окна */
.modal-textarea {
    flex-grow: 1;
    width: 100%;
    padding: 10px 10px 10px 15px;
    resize: none;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #888;
    color: #fff;
    position: relative;
}

.modal-textarea:focus,
.modal-textarea:active {
    outline: none;
}

.modal-content {
    background-color: #111111;
}

.modal-adaptive-size {
    height: 90vh;
    min-height: 500px;
    min-width: 500px;
}

.modal-body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.ai-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}

.modal-list-images {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #888888 solid 2px;
    border-radius: 10px;
    height: 20vh;
    min-height: 100px;
    margin-top: 5px;
}

.add-image {
    margin-left: 3px;
    cursor: pointer;
}

.post-form-footer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.post-char-count {
    margin-left: 5px;
}

/* Чат с ИИ */
.post-form-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ai-chat-content {
    padding-right: 10px;
    overflow-y: auto;
}

.ai-chat-footer {    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.ai-chat-footer button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.text-message-field {
    flex-grow: 1;
    width: 100%;
    height: 68px;
    resize: none;
    overflow-y: hidden;

    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    background-color: #333;
    border: 1px solid #444;
    color: white;
    font-size: 16px;

    margin-inline: 10px;
}

.text-message-field:focus {
    outline: none;
}

.message {
    margin-bottom: 20px;
}

.message-part {
    padding: 10px 10px 10px 10px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.post-response {
    position: relative;
    background-color: #4a90e266;
}

.user-prompt {
    background-color: #cf28b966;
}

.ai-answer {
    position: relative;
    border-radius: 0 0 10px 10px;
    background-color: #66666666;
}

.ai-help-error {
    background-color: #59191f;
    border-radius: 10px;
}

.message-text {
    font-size: 1rem;
    white-space: pre-wrap;
}

.copy-post-button, .copy-answer-button {
    position: absolute;
    border: none;
    top: 5px;
    right: 5px;
    background-color: transparent;
}

.message .copy-button {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.message:hover .copy-button {
    opacity: 1;
}

/* Загрузка */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side,#474bff 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#474bff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100%{transform: rotate(1turn)}
}

.loader-wrapper {
    display: flex;
    justify-content: center;
}

.comment-divider {
    border: none;
    height: 1px;
    background-color: #ccc; 
    margin: 10px 0; 
}

.comment-line {
    position: relative;
    width: 111.2%; 
    transform: translateX(-5%);
    margin: 10px 0;
    border: none;
}

.comment-line::before {
    content: ""; 
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #ffffff;
}


/* Комментарии */
.comments-section {
    margin-top: 20px;
}


.custom-form-group {
    margin-bottom: 15px;
    position: relative; 
    top: -50px; 
    left: 60px;
}

.custom-form-control {
    width: 95%;
    padding: 10px; 
    border: 1px solid #111111;
    background-color: #111111;
    color: rgb(255, 255, 255); 
    font-size: 20px; 
    box-sizing: border-box; 
    resize: none; 
    outline: none;
    height: 91px; 
}

.custom-form-control:focus {
    border: 1px solid #111111;
    background-color: #111111;
    color: rgb(255, 255, 255);
    outline: none; 
}

.custom-btn {
    background: linear-gradient(315deg, rgba(207,40,185,1) 0%, rgba(97,142,228,1) 100%);
    color: white; 
    border: none;
    margin-top: -60px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    display: block; 
}


.post-header {
    display: flex;
    align-items: center;
}


.post-details {
    display: flex;
    flex-direction: column;
}

.post-details h3,
.post-details .post-username {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}


.post-details a {
    color: #fff;
}

/* Стрелка назад */
.back-arrow-container {
    margin-bottom: 6px;
}
.back-arrow-btn {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}
.back-arrow-btn i {
    margin-right: 30px;
}
/* Кнопка комментария */
.comment-btn {
    background: transparent;
    border: none;
    padding: 30;
    cursor: pointer;
    margin-left: 30px;
    
}

.comment-btn svg {
    background: transparent;
}