.tabs {
    display: flex;
    padding-inline: 1rem;
}

.tab {
    font-weight: bold;
    font-size: 1.2rem;
    padding-block: 0.8rem;
    margin-inline: 0.8rem;
    text-align: center;
    cursor: pointer;
}

.tab.active {
    position: relative;
}

.tab.active::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(315deg, rgba(207,40,185,1) 0%, rgba(97,142,228,1) 100%);
    border-radius: 3px;
}

.tab-content {
    display: none;
    margin-top: 15px;
}

.tab-content.active {
    display: block;
}
