{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}

<main class="container mt-5" style="width: 30%">
    <div class="login-form">
        <h2>Регистрация</h2>

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {% for item in form %}
                <div class="form-group mt-3">
                    <label for="{{ item.id_for_label }}" class="form-label">{{ item.label }}</label>
                    {{ item }}
                    {% if item.errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in item.errors %}
                                {{ error }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-group mt-3">
                <button type="submit" class="gradient-btn" data="Зарегистрироваться"></button>
            </div>
        </form>
    </div>
</main>

{% endblock %}
