/* Универсальный контейнер страницы /person/ */
.container-profile {
    background-color: #212529;
    padding: 30px;
    border-radius: 20px;
}

/* Секция с общей информацией о профиле */
.user-info {
    display: flex;
    flex-direction: column;
}

.person-name {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.about-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.about-section .edit-about-btn {
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.about-section:hover .edit-about-btn {
    opacity: 1;
}

.about-container {
    position: relative;
    max-height: 255px; /* Максимальная высота для текста "О себе" */
    overflow: hidden;
}

.about {
    font-style: italic;
    color: #888;
    font-size: 1.4rem;
    overflow-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;
}

.about.expanded {
    max-height: none;
}

.about-read-more-btn {
    font-size: 1rem;
    color: #888;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: -2px -2px 2px 2px rgba(33, 37, 41, 0.8);
    background-color: #212529;
    cursor: pointer;
}

.about-read-more-btn:hover {
    color: #666;
}

.about-fade-out {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(transparent, #212529);
    pointer-events: none;
}

.subscribers-info {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.edit-about-btn,
.edit-image-btn,
.delete-img-btn {
    font-size: 1.7rem;
    color: #888;
    margin-left: 0.5rem;
}

.edit-about-btn:hover,
.edit-image-btn:hover,
.delete-img-btn:hover {
    color: #666;
}

.follow-numbers {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 20px;
}

/* Изображение профиля пользователя */
.profile-image-container {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-actions {
    display: flex;
    position: absolute;
    padding-right: 5px;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    background: rgba(169, 169, 169, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.image-actions .edit-image-btn {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-actions .edit-image-btn {
    opacity: 1;
}

.profile-image-container .image-actions {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile-image-container:hover .image-actions {
    opacity: 1;
}

.user-actions {
    display: flex;
    margin-top: 10px;
}

/* Скрываем стандартный input file */
input[type="file"] {
    display: none;
}

/* Стилизуем текст с названием выбранного файла */
#selected-image-name {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

/* Посты */
.post-item {
    background-color: #212529;
    padding: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 20px;
    border: 2px solid #888;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    overflow-wrap: break-word;
    hyphens: auto;
}

.post-date {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 0;
}

.post-item .post-actions-btn {
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.post-item:hover .post-actions-btn {
    opacity: 1;
}

.post-actions-btn {
    font-size: 1.7rem;
    color: #888;
}

.post-actions-btn:hover {
    color: #666;
}

.post-text {
    font-size: 1.3rem;
    white-space: pre-wrap;
}

.post-text.expanded {
    max-height: none;
}

.read-more-btn {
    font-size: 1rem;
    color: #888;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: -2px -2px 2px 2px rgba(33, 37, 41, 0.8);
    background-color: #212529;
    cursor: pointer;
}

.read-more-btn:hover {
    color: #666;
}

.fade-out {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(transparent, #212529);
    pointer-events: none;
}

.commentary {
    font-style: italic;
    color: #888;
    font-size: 1.4rem;
}

.post-header-profile {
    display: flex;
    justify-content: space-between;
}

.post-header-feed {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-info h3 {
    margin: 0;
    font-size: 1.1rem;
}

.post-info a {
    color: #fff;
}

.post-content {
    position: relative;
    max-height: 500px; /* Максимальная высота для текста, остальное прячем */
    overflow: hidden;
}

.post-footer {
    display: flex;
    align-items: center;
}

/* Лайки поста */
.like-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #888;
    transition: opacity 0.3s ease;
}

.like-btn:hover {
    color: #666;
}

.like-btn.liked {
    color: red;
}

.likes-count {
    margin-left: 3px;
    font-size: 1rem;
}

/* Модальные окна */
.modal-textarea {
    height: 60vh;
    width: 100%;
    padding: 10px 10px 10px 15px;
    resize: none;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #888;
    color: #fff;
    position: relative;
}

.modal-textarea:focus,
.modal-textarea:active {
    outline: none;
}

.modal-fixed-height {
    min-height: 94vh;
}

.modal-body {
    flex-grow: 1;
    overflow: hidden; /* Скрыть скроллбар для всего модального тела */
    display: flex;
    flex-direction: column;
}

.ai-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}

.modal-list-images {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #888888 solid 2px;
    border-radius: 10px;
    height: 12vh;
    margin-top: 5px;
}

.add-image {
    margin-left: 3px;
    cursor: pointer;
}

.post-form-footer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.post-char-count {
    margin-left: 5px;
}

/* Чат с ИИ */
.ai-chat-content {
    padding-right: 10px;
    overflow-y: auto;
}

.ai-chat-footer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.ai-chat-footer button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.text-message-field {
    flex-grow: 1;
    width: 100%;
    height: 68px; /* Начальная высота */
    resize: none;
    overflow-y: hidden; /* Скрыть скроллбар по умолчанию */

    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    background-color: #333;
    border: 1px solid #444;
    color: white;
    font-size: 16px;

    margin-inline: 10px;
}

.text-message-field:focus {
    outline: none;
}

.message {
    margin-bottom: 20px;
}

.message-part {
    padding: 10px 10px 10px 10px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.post-response {
    position: relative;
    background-color: #4a90e266;
}

.user-prompt {
    background-color: #cf28b966;
}

.ai-answer {
    position: relative;
    border-radius: 0 0 10px 10px;
    background-color: #66666666;
}

.ai-help-error {
    background-color: #59191f;
    border-radius: 10px;
}

.message-text {
    font-size: 1rem;
    white-space: pre-wrap;
}

.copy-post-button, .copy-answer-button {
    position: absolute;
    border: none;
    top: 5px;
    right: 5px;
    background-color: transparent;
}

.message .copy-button {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.message:hover .copy-button {
    opacity: 1;
}

/* Загрузка */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side,#474bff 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#474bff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
}
@keyframes l13{
    100%{transform: rotate(1turn)}
}

.loader-wrapper {
    display: flex;
    justify-content: center;
}
