.number {
    text-align: center;
    font-size: 10em;
    background: linear-gradient(315deg, rgba(207,40,185,1) 0%, rgba(97,142,228,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.explanation {
    text-align: center;
    font-size: 2em;
    background: linear-gradient(315deg, rgba(207,40,185,1) 0%, rgba(97,142,228,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
