.post-text {
    line-height: 0;

    h1 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 1.4rem;
        border-bottom: 2px solid #ddd;
        padding-bottom: 4px;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 1.2rem;
        border-bottom: 1px solid #ddd;
        padding-bottom: 3px;
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    blockquote {
        border-left: 4px solid #27a102;
        line-height: 1.5;
        padding-left: 12px;
        margin: 10px 0;
        color: #27a102;
        font-style: italic;
    }

    ul, ol {
        line-height: 0.5;
    }

    li {
        line-height: 1.5;
    }

    p {
        line-height: 1.5;
    }

    hr {
        border: none;
        height: 1px;
        background-color: #ddd;
        margin: 1rem 0;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    code {
        font-family: "Courier New", monospace;
        background-color: #555555;
        color: #fff;
        line-height: 1.5;
        border-radius: 4px;
        padding: 2px 4px;
        font-size: 14px;
    }

    pre {
        background-color: #272822;
        color: #f8f8f2;
        border-radius: 0 0 5px 5px;
        overflow-x: auto;
    }

    .code-header {
        padding: 5px;
        border-radius: 5px 5px 0 0;
        background-color: #555555;
        display: flex;
        justify-content: space-between;
    }

    .lang-name {
        margin-top: 0.7rem;
        margin-left: 0.5rem;
    }

    .copy-code {
        background-color: transparent;
        border: none;
        width: 24px;
        height: 24px;
        padding: 0;
        margin-right: 0.5rem;
    }

    .copy-code:active {
        transform: scale(0.95);
    }

    .copy-code:active img {
        transform: scale(0.9);
    }

    pre code {
        font-size: 14px;
        background: none;
    }

    table, th, td {
        border: 1px solid #727272;
    }

    th, td {
        line-height: 1.5;
        padding: 8px;
        word-break: break-all;
        white-space: pre-wrap;
    }
}
